
@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf);
}    

nav>ul {
    list-style-type: none;
    display: flex;
    text-align:left;
    flex-flow:column wrap;
    font-family: 'Montserrat';
    color:white;
    width: 10fr;
    height: 100%;
    padding-top: 20vh;
   
    padding-left: 1vw;
    margin:0;
}
nav>ul>li>ul {
    list-style-type: none;
    display: flex;
    border: 2px solid #E0B400;
    background-color: #0C2857;
    text-align:left;
    flex-flow:column wrap;
    font-family: 'Montserrat';
    color:white;
    width: 5fr;
}
nav ul li{
    width: 100px;
    position: relative;
}
nav ul li:hover ul{
    display: flex;
}
nav ul li ul{
    position:absolute;
    top: 0;
    left: 100%;
    display:none;
}
nav ul li a:hover{
    border: 2px solid #E0B400;
}

nav ul li a:link {
    color:white;
    text-decoration-line: none;
    
}
nav ul li a:visited {
    color: #E0B400;
    text-decoration-line: none;
    
}