ul li {
    list-style-type: none;
    display: block;
    border: 2px solid gold;
    padding: 15px 15px 15px 15px;
    background-color:darkblue;
    text-align: center;
    width: 200px;
    color:white;
}
a:link {
    color:white;
}
a:visited {
    color: gold;
}
