@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Vollkorn';
    src: url(Vollkorn-VariableFont_wght.ttf);
}

h2{
    font-family: 'Montserrat';
}

h3 {
    font-family: 'Montserrat';
}

p{
    font-family: 'Vollkorn';
}

blockquote {
    font-family: 'Vollkorn';
}


@media only screen and (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-rows: 10vh 5vh 85vh;
        margin:0;
        max-height: 100vh;
    }
    body {
        margin:0;
    }

    header {
        grid-row-start: 1;
        grid-row-end:1;
    }

    nav{
       grid-row-start: 2;  
       grid-row-end: 2;
    }
    img{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    main {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 3;
   }

    footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
    }
    nav{
        display:flex;
        flex-flow:column wrap;
        margin:0;
        background-color: #0C2857;
        z-index: 2;
        border-bottom: solid 2px #E0B400;
        height: 5vh;
    }

    h1 {
        color: white;
        font-family: 'Montserrat';
        background-color: #0C2857;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 10vh;
        /*align-content: flex-start;*/
    }
    h2 {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    h3 {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    section>p {
        text-align: center;
        justify-content: center;
        text-indent: 0%;
        font-size: 1.5rem;
    }

    .image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    footer {
        background-color: #0C2857;
        position: fixed;
        bottom: 0;
        height: 3fr;
        width: 100%;
        margin-top: auto;
        padding: 0;
        z-index: 1;
        font-size: small;
        border-top: solid 2px #E0B400;
    }
    footer>p{
        font-family:'Montserrat';
        text-align: center;
        color:white;
    
    }
    section>p::first-letter{
        Font-size: 1.8rem;
        font-weight: bold;
    }
    .edusection>p {
            text-align: center;
            justify-content: center;
            text-indent: 0%;
            font-size: 1.5rem;
    }
   
}

@media only screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: .4fr 5fr;
        grid-template-rows: 5fr 90fr 5fr;
        margin:0;
        max-height: 100vh;
    }

    body {
        margin:0;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }

    nav{
        grid-column-start: 1; 
        grid-row-start: 1;  
        grid-row-end: 4;
    }
    img{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    main {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
   }

    footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    nav{
        display:flex;
        height:100%;
        flex-flow:column wrap;
        margin:0;
        background-color: #0C2857;
        z-index: 2;
    }

    h1 {
        color: white;
        font-family: 'Montserrat';
        background-color: #0C2857;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 15vh;
        /*align-content: flex-start;*/
    }

    main {
        padding-left:2vw;
        border: 2px solid #E0B400;
        
    }

    .image1 {
        float: left;
    }
    .image2 {
        float:right;
    }
    .firstparagraph{
        text-indent: 0%;
    }
    section>p {
        text-indent: 2%;
    }
    footer {
        background-color: #0C2857;
        position: fixed;
        bottom: 0;
        height: 3fr;
        width: 100%;
        margin-top: auto;
        padding: 0;
        z-index: 1;
        border-top: solid 2px #E0B400;
    }
    footer>p
    {
        font-family:'Montserrat';
        text-align: right;
        color:white;
    
    }
    section>p::first-letter{
        Font-size: 1.2rem;
        font-weight: bold;
    }
}

@media print {
   *{
    color: black;
   }
    nav {
        display: none;
    }
    h1 {
        text-align: center;
        font-family: serif;
    }
    h2 {
        font-family: serif;
    }
    h3 {
        font-family: serif;
    }
    .image1 {
        float:right;
        width: 100px;
        height: 100px;
    }
    .image2 {
        float:right;
        width: 100px;
        height: 100px;
    }
}



